/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/_ide_helper.php
.phpstorm.meta.php
/storage/logs/*
/storage/framework/views/*
/storage/framework/sessions/*
!.gitkeep
/storage/framework/
/storage/logs/
.DS_Store